<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="EssaiJobImp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="ImpDef" value="Imp203" />
    <add key="ImpDefBL" value="Imp206" />
    <add key="AutoLoad" value="true"/>
        
    <add key="PiloteImpressionFacture" value="pxlcolor"/>
    <!-- pxlcolor uniprint ljet4 stcolor-->
    
    <add key="DossierFacturation" value="C:\ServeurImp\DocFinaux\Facturation" />
    <add key="ParamMail" value="smtp.abcr76.fr%587%nicolas.derrien@abcr76.fr%ABCR - Facturation" />
    <add key="CheminGED" value="\\10.211.28.152\ged\V8\documents\documents\Rubis Jwalk" />
    <add key="CheminGEDCF" value="\\10.211.28.152\ged\V8\documents\documents\Rubis cde Fournisseur" />
    <add key="CheminRessources" value="C:\ServeurImp" />
    <add key="CheminDocFinaux" value="C:\ServeurImp" />
    <add key="CorpMail" value="TEST"/>
    <add key="CheminLogoABCR" value="C:\ServeurImp\ABCR 3cm.jpg" />
    <add key="CheminLogoABCRDevis" value="C:\ServeurImp\ABCR 3cm.jpg" />
    
    <add key="CheminLogoABCRFacture" value="C:\ServeurImp\logoFacture.jpg" />
    <add key="LargeurLogoABCRFacture" value="180" />
    <add key="HauteurLogoABCRFacture" value="115" />

    <add key="CheminLogoABCR_AR" value="C:\ServeurImp\logoAR.jpg" />
    <add key="LargeurLogoABCR_AR" value="140" />
    <add key="HauteurLogoABCR_AR" value="80" />
    
    
    
    <add key="CheminPatternHautDroiteDevis" value="C:\ServeurImp\EssaiePatternHautDroite.png" />
    <add key="CheminPatternHautDroite" value="C:\ServeurImp\EssaiePatternHautDroite.png" />
    <add key="CheminPatternHautDroiteBp" value="C:\ServeurImp\EssaiePatternHautDroiteBP.jpg" />
    <add key="CheminPatternTableau" value="C:\ServeurImp\EssaiePatternEnteteTableau.png" />
    <add key="CheminFilligraneDevis" value="C:\ServeurImp\FiligraneDevis.png" />
    <add key="CheminPatternTot" value="C:\ServeurImp\EssaiePatternTot.png" />
    <add key="CheminPatternTotBl" value="C:\ServeurImp\EssaiePatternTotBl.jpg" />
    <add key="CheminFilligraneBl" value="C:\ServeurImp\FiligraneBL.png" />
    <add key="CheminFilligraneBe" value="C:\ServeurImp\FiligraneBE.png" />
    <add key="CheminPatternHautDroiteBp" value="C:\ServeurImp\EssaiePatternHautDroiteBP.jpg" />
    <add key="CheminFilligraneCf" value="C:\ServeurImp\FiligraneCF.png" />
    <add key="TexteBasCartouche" value="HORAIRES RECEPTION ABCR                     8H - 12H / 13H30 - 16h30                              EXPLOITATION 02 35 95 88 22" />
    <add key="CheminFilligraneBp" value="C:\ServeurImp\FiligraneBP.png" />
    <add key="CheminFilligraneAr" value="C:\ServeurImp\FiligraneAR.png" />
    <add key="CheminCGV" value="C:\ServeurImp\cgv.jpg" />
    <add key="CheminPatternFondPageFacturation" value="C:\ServeurImp\PatternFonddepagefacturation2.png" />
    <add key="CheminPatternEnteteTableauFacture" value="C:\ServeurImp\EssaiePatternEnteteTableauFacture.jpg" />
    <add key="ChaineDeConnexionBase" value="Driver={iSeries Access ODBC Driver};System=10.211.200.1;Uid=AMND;Pwd=PAM56;" />
    <add key="NbCopieGC" value="1" />
    <add key="PiloteImpressionGC" value="ljet4" />
   <!-- <add key="PiloteImpressionGC" value="pxlmono" />-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <userSettings>
    <EssaiJobImp.Properties.Settings>
      <setting name="Setting" serializeAs="String">
        <value />
      </setting>
    </EssaiJobImp.Properties.Settings>
  </userSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>