<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="EssaiJobImp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <appSettings>
      <add key="ImpDef" value="Imp203"/>
      <add key="ImpDefBL" value="Imp206"/>
      <add key="AutoLoad" value="true"/>
      <add key="PiloteImpressionFacture" value ="pxlcolor"/> <!-- pxlcolor uniprint ljet4 stcolor-->
      <add key="DossierFacturation" value="C:\ServeurImp\DocFinaux\Facturation"/>
      <add key="ParamMail" value="smtp.abcr76.fr%587%alexis.duboc@abcrorcab.com%ABCR - Facturation"/>
      <add key="CheminGED" value="\\10.211.28.152\ged\V8\documents\documents\Rubis Jwalk"/>
      <add key="CheminRessources" value="C:\ServeurImp"/>
      <add key="CheminDocFinaux" value="C:\ServeurImp"/>
      <add key="CorpMail" value="TEST"/>
      <add key="CheminLogoABCR" value="C:\ServeurImp\ABCR 3cm.jpg"/>
      <add key="CheminPatternHautDroiteDevis" value="C:\ServeurImp\EssaiePatternHautDroite.jpg"/>
      <add key="CheminPatternHautDroite" value="C:\ServeurImp\EssaiePatternHautDroite.jpg"/>
      <add key="CheminPatternHautDroiteBp" value="C:\ServeurImp\EssaiePatternHautDroiteBP.jpg"/>
      <add key="CheminPatternTableau" value="C:\ServeurImp\EssaiePatternEnteteTableau.jpg"/>
      <add key="CheminFilligraneDevis" value="C:\ServeurImp\FiligraneDevis.png"/>  
      <add key="CheminPatternTot" value="C:\ServeurImp\EssaiePatternTot.jpg"/>
      <add key="CheminPatternTotBl" value="C:\ServeurImp\EssaiePatternTotBl.jpg"/>
      <add key="CheminFilligraneBl" value="C:\ServeurImp\FiligraneBL.png"/> 
      <add key="CheminPatternHautDroiteBp" value="C:\ServeurImp\EssaiePatternHautDroiteBP.jpg"/>  
      <add key="CheminFilligraneCf" value="C:\ServeurImp\FiligraneCF.png"/>  
      <add key="TexteBasCartouche" value="HORAIRES RECEPTION ABCR                     8H - 12H / 13H30 - 16h30                              EXPLOITATION 02 35 95 88 22"/>  
      <add key="CheminFilligraneBp" value="C:\ServeurImp\FiligraneBP.png"/>   
  </appSettings>
    <userSettings>
        <EssaiJobImp.Properties.Settings>
            <setting name="Setting" serializeAs="String">
                <value/>
            </setting>
        </EssaiJobImp.Properties.Settings>
    </userSettings>
</configuration>
