<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Ireport_Rubis.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="ImpDef" value="Imp203" />
    <add key="ImpDefBL" value="Imp206" />
    <add key="AutoLoad" value="true"/>
        
    <add key="PiloteImpressionFacture" value="pxlcolor"/>
    <!-- pxlcolor uniprint ljet4 stcolor-->
    
    <add key="DossierFacturation" value="C:\ServeurImpFacturation\DocFinaux\Facturation" />
    <add key="ParamMail" value="smtp.abcr76.fr%587%nicolas.derrien@abcr76.fr%ABCR - Facturation" />
    <add key="CheminGED" value="c:\ged\documents\documents\Rubis Jwalk" />
    <add key="CheminGEDCF" value="c:\ged\documents\documents\Rubis cde Fournisseur" />
    <add key="CheminRessources" value="C:\ServeurImpFacturation" />
    <add key="CheminDocFinaux" value="C:\ServeurImpFacturation" />
    <add key="CorpMail" value="TEST"/>
    
    
   
    <add key="CheminLogoABCR" value="C:\ServeurImpFacturation\ABCR 3cm.jpg" />
     
    <!-- paramètrage devis-->
    <add key="CheminLogoABCR_DEVIS" value="C:\ServeurImpFacturation\logoDEVIS.png" />
    <add key="CheminPatternHautDroiteDevis" value="C:\ServeurImpFacturation\EssaiePatternHautDroite.png" />
    <add key="LargeurLogoABCR_DEVIS" value="200" />
    <add key="HauteurLogoABCR_DEVIS" value="60" />
    <add key="CheminLogoABCRDevis" value="C:\ServeurImpFacturation\ABCR 3cm.jpg" />
    <add key="bandeauTableauDevisX" value="20"/>
    <add key="bandeauTableauDevisY" value="590"/>
    <add key="rectangleReferenceDevisX" value="335"/>
    <add key="rectangleReferenceDevisY" value="743"/>
    <add key="rectangleTotalDevisX" value="385"/>
    <add key="rectangleTotalDevisY" value="70"/>
    <add key="filigraneDevisX" value="220"/>
    <add key="filigraneDevisY" value="300"/>
            
    
<!--paramètrage Factures-->
    <add key="CheminLogoABCRFacture" value="C:\ServeurImpFacturation\logoFacture.jpg" />
    <add key="LargeurLogoABCRFacture" value="200" />
    <add key="HauteurLogoABCRFacture" value="60" />
    
    <add key="bandeauTableauFactureX" value="20"/>
    <add key="bandeauTableauFactureY" value="590"/>

    <add key="filigraneFactureX" value="180"/>
    <add key="filigraneFactureY" value="250"/>



    <add key="CheminCGV" value="C:\ServeurImpFacturation\cgv.jpg" />
    <add key="CheminPatternFondPageFacturation" value="C:\ServeurImpFacturation\FiligraneFacture.jpg" />
    <add key="CheminPatternEnteteTableauFacture" value="C:\ServeurImpFacturation\EssaiePatternEnteteTableauFacture.jpg" />




    <!-- paramètrage AR-->
    <add key="CheminLogoABCR_AR" value="C:\ServeurImpFacturation\logoAR.png" />
    <add key="CheminPatternHautDroiteAR" value="C:\ServeurImpFacturation\EssaiePatternHautDroiteBP.jpg" />
    <add key="LargeurLogoABCR_AR" value="200" />
    <add key="HauteurLogoABCR_AR" value="60" />
    <add key="bandeauTableauARX" value="20"/>
    <add key="bandeauTableauARY" value="588"/>
    <add key="rectangleReferenceARX" value="325"/>
    <add key="rectangleReferenceARY" value="755"/>
    <add key="rectangleTotalARX" value="385"/>
    <add key="rectangleTotalARY" value="105"/>
    <add key="filigraneARX" value="185"/>
    <add key="filigraneARY" value="250"/>

    
    

    <add key="CheminPatternHautDroite" value="C:\ServeurImpFacturation\EssaiePatternHautDroite.png" />
    
    
    <!-- paramètrage BP-->
    <add key="CheminLogoABCR_BP" value="C:\ServeurImpFacturation\logoBP.png" />
    <add key="CheminPatternHautDroiteBp" value="C:\ServeurImpFacturation\EssaiePatternHautDroiteBP.jpg" />
     <add key="LargeurLogoABCR_BP" value="200" />
    <add key="HauteurLogoABCR_BP" value="60" />
    <add key="bandeauTableauBPX" value="20"/>
    <add key="bandeauTableauBPY" value="608"/>
    <add key="rectangleReferenceBPX" value="325"/>
    <add key="rectangleReferenceBPY" value="755"/>
    <add key="rectangleTotalBPX" value="385"/>
    <add key="rectangleTotalBPY" value="105"/>
    <add key="filigraneBPX" value="180"/>
    <add key="filigraneBPY" value="270"/>
   
  
    
     <!-- paramètrage CF-->
    <add key="CheminLogoABCR_CF" value="C:\ServeurImpFacturation\logoCF.png" />
    <add key="CheminFilligraneCf" value="C:\ServeurImpFacturation\FiligraneCF.png" />
    <add key="LargeurLogoABCR_CF" value="200" />
    <add key="HauteurLogoABCR_CF" value="60" />
    <add key="bandeauTableauCFX" value="20"/>
    <add key="bandeauTableauCFY" value="618"/>
    <add key="rectangleReferenceCFX" value="325"/>
    <add key="rectangleReferenceCFY" value="760"/>
    <add key="rectangleTotalCFX" value="385"/>
    <add key="rectangleTotalCFY" value="130"/>
    <add key="filigraneCFX" value="200"/>
    <add key="filigraneCFY" value="250"/>
    
    
    
      <!-- paramètrage BL-->
    <add key="CheminLogoABCR_BL" value="C:\ServeurImpFacturation\logoCF.png" />
    <add key="LargeurLogoABCR_BL" value="200" />
    <add key="HauteurLogoABCR_BL" value="60" />
    <add key="bandeauTableauBLX" value="20"/>
    <add key="bandeauTableauBLY" value="595"/>
    <add key="rectangleReferenceBLX" value="325"/>
    <add key="rectangleReferenceBLY" value="750"/>
    <add key="rectangleTotalBLX" value="385"/>
    <add key="rectangleTotalBLY" value="112"/>
    <add key="filigraneBLX" value="215"/>
    <add key="filigraneBLY" value="270"/>
    <add key="filigraneBLEX" value="170"/>
    <add key="filigraneBLEY" value="240"/>
    
    
    <add key="CheminPatternTableau" value="C:\ServeurImpFacturation\EssaiePatternEnteteTableau.png" />
    <add key="CheminFilligraneDevis" value="C:\ServeurImpFacturation\FiligraneDevis.png" />
    <add key="CheminPatternTot" value="C:\ServeurImpFacturation\EssaiePatternTot.png" />
    <add key="CheminPatternTotBl" value="C:\ServeurImpFacturation\EssaiePatternTotBl.jpg" />
    <add key="CheminFilligraneBl" value="C:\ServeurImpFacturation\FiligraneBL.png" />
    <add key="CheminFilligraneBe" value="C:\ServeurImpFacturation\FiligraneBE.png" />
    <add key="CheminPatternHautDroiteBp" value="C:\ServeurImpFacturation\EssaiePatternHautDroiteBP.jpg" />
    
    <add key="TexteBasCartouche" value="HORAIRES RECEPTION ABCR                     8H - 12H / 13H30 - 16h30                              EXPLOITATION 02 35 95 88 22" />
    <add key="CheminFilligraneBp" value="C:\ServeurImpFacturation\FiligraneBP.png" />
    <add key="CheminFilligraneAr" value="C:\ServeurImpFacturation\FiligraneAR.png" />
    <add key="ChaineDeConnexionBase" value="Driver={iSeries Access ODBC Driver};System=10.211.200.1;Uid=AMND;Pwd=PAM56;" />
    <add key="NbCopieGC" value="1" />
    <add key="PiloteImpressionGC" value="pxlcolor" />
   <!-- <add key="PiloteImpressionGC" value="pxlmono" />-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />

    <!-- test regex document bloqués -->
    <!--<add key="RegexDocumentBloquer" value="%-12345X@PJL|\\210-SERVIMP|&amp;l26A" />-->
    <!--<add key="RegexDocumentBloquer" value="%-12345X@PJL JOB NAME|\\210-SERVIMP|&amp;l26A|ESC" />-->
    <add key="RegexDocumentBloquer" value="\\210-SERVIMP|&amp;l26A" />
    <!-- *********** -->
    
  </appSettings>
  <userSettings>
    <Ireport_Rubis.Properties.Settings>
      <setting name="Setting" serializeAs="String">
        <value />
      </setting>
    </Ireport_Rubis.Properties.Settings>
  </userSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>