<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <section name="Imprimante" type="MonNameSpace.ImprimanteSectionHandler, MonNameSpace"/>
  <BaliseEntete>
    <NomBalise>Nombre_copies</NomBalise>
    <NomBalise>Objet</NomBalise>
    <NomBalise>Document_numero</NomBalise>
    <NomBalise>Document_numero_int</NomBalise>
    <NomBalise>Document_type</NomBalise>
    <NomBalise>Duplicata</NomBalise>
    <NomBalise>Document_date</NomBalise>
    <NomBalise>Adresse_interne_1</NomBalise>
    <NomBalise>Adresse_interne_2</NomBalise>
    <NomBalise>Adresse_interne_3</NomBalise>
    <NomBalise>Adresse_interne_4</NomBalise>
    <NomBalise>Adresse_interne_5</NomBalise>
    <NomBalise>Adresse_interne_6</NomBalise>
    <NomBalise>Adresse_interne_7</NomBalise>
    <NomBalise>Adresse_interne_8</NomBalise>
    <NomBalise>Tiers_code</NomBalise>
    <NomBalise>Client_code</NomBalise>
    <NomBalise>Service_libelle</NomBalise>
    <NomBalise>Tiers_adf1</NomBalise>
    <NomBalise>Tiers_adf2</NomBalise>
    <NomBalise>Tiers_adf3</NomBalise>
    <NomBalise>Tiers_adf4</NomBalise>
    <NomBalise>Tiers_adf5</NomBalise>
    <NomBalise>Tiers_adf6</NomBalise>
    <NomBalise>Tiers_adfcp</NomBalise>
    <NomBalise>Tiers_adf_lib</NomBalise>
    <NomBalise>Tiers_tel</NomBalise>
    <NomBalise>Tiers_fax</NomBalise>
    <NomBalise>Tiers_adl1</NomBalise>
    <NomBalise>Tiers_adl2</NomBalise>
    <NomBalise>Tiers_adl3</NomBalise>
    <NomBalise>Tiers_adl4</NomBalise>
    <NomBalise>Tiers_adl5</NomBalise>
    <NomBalise>Tiers_adl6</NomBalise>
    <NomBalise>Tiers_adl7</NomBalise>
    <NomBalise>Tiers_adlcp</NomBalise>
    <NomBalise>Tiers_adl_lib</NomBalise>
    <NomBalise>Agence_libelle</NomBalise>
    <NomBalise>Depot_code</NomBalise>
    <NomBalise>Lib_datliv</NomBalise>
    <NomBalise>Ent_datliv</NomBalise>
    <NomBalise>Colonne_art</NomBalise>
    <NomBalise>Colonne_des</NomBalise>
    <NomBalise>Colonne_un</NomBalise>
    <NomBalise>Colonne_qt</NomBalise>
    <NomBalise>Colonne_pb</NomBalise>
    <NomBalise>Colonne_rem</NomBalise>
    <NomBalise>Colonne_pn</NomBalise>
    <NomBalise>Colonne_mt</NomBalise>
    <NomBalise>Commentaire_texte</NomBalise>
  </BaliseEntete>
  <BaliseBody>
    <NomBalise>Ligne_type</NomBalise>
    <NomBalise>Art_ligne</NomBalise>
    <NomBalise>Art_code</NomBalise>
    <NomBalise>Designation</NomBalise>
    <NomBalise>Info_type</NomBalise>
    <NomBalise>Art_unite</NomBalise>
    <NomBalise>Art_qte</NomBalise>
    <NomBalise>Art_pubrut</NomBalise>
    <NomBalise>Art_remise1</NomBalise>
    <NomBalise>Art_remise2</NomBalise>
    <NomBalise>Art_prinet</NomBalise>
    <NomBalise>Art_montant</NomBalise>
    <NomBalise>Longueur</NomBalise>
    <NomBalise>Largeur</NomBalise>
    <NomBalise>Diametre</NomBalise>
    <NomBalise>Hauteur</NomBalise>
    <NomBalise>Libelle</NomBalise>
    <NomBalise>Spe_nom</NomBalise>
    <NomBalise>Spe_cde</NomBalise>
    <NomBalise>Spe_ref</NomBalise>
  </BaliseBody>
  <BaliseFoot>
    <NomBalise>Lieu_liv_Lib</NomBalise>
    <NomBalise>Lieu_liv_ad1</NomBalise>
    <NomBalise>Lieu_liv_ad2</NomBalise>
    <NomBalise>Lieu_liv_ad3</NomBalise>
    <NomBalise>Lieu_liv_ad4</NomBalise>
    <NomBalise>Lieu_liv_ad5</NomBalise>
    <NomBalise>Lieu_liv_ad6</NomBalise>
    <NomBalise>Lieu_liv_adcp</NomBalise>
    <NomBalise>Lieu_liv_tel</NomBalise>
    <NomBalise>Lieu_liv_fax</NomBalise>
    <NomBalise>Montant_bon</NomBalise>
    <NomBalise>Lib_echeance</NomBalise>
    <NomBalise>Mode_reglement</NomBalise>
  </BaliseFoot>
</configuration>