<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <section name="Imprimante" type="MonNameSpace.ImprimanteSectionHandler, MonNameSpace"/>
   <BaliseEntete>
    <NomBalise>Nombre_copies</NomBalise>
    <NomBalise>Objet</NomBalise>
    <NomBalise>Document_numero</NomBalise> 
    <NomBalise>Document_numero_int</NomBalise>
    <NomBalise>Document_type</NomBalise>
    <NomBalise>Duplicata edt</NomBalise>
    <NomBalise>Document_date</NomBalise>
    <NomBalise>Adresse_interne_1</NomBalise>
    <NomBalise>Adresse_interne_2</NomBalise>
    <NomBalise>Adresse_interne_3</NomBalise>
    <NomBalise>Adresse_interne_4</NomBalise>
    <NomBalise>Adresse_interne_5</NomBalise>
    <NomBalise>Adresse_interne_6</NomBalise>
    <NomBalise>Adresse_interne_7</NomBalise>
    <NomBalise>Adresse_interne_8</NomBalise>
    <NomBalise>Client_code</NomBalise>
    <NomBalise>Tiers_adf1</NomBalise>
    <NomBalise>Tiers_adf2</NomBalise>
    <NomBalise>Tiers_adf3</NomBalise>
    <NomBalise>Tiers_adf4</NomBalise>
    <NomBalise>Tiers_adf5</NomBalise>
    <NomBalise>Tiers_adf6</NomBalise>
    <NomBalise>Tiers_adfcp</NomBalise>
    <NomBalise>Tiers_adf_lib</NomBalise>
    <NomBalise>Tiers_tel</NomBalise>
    <NomBalise>Tiers_fax</NomBalise>
    <NomBalise>Tiers_adl1</NomBalise>
    <NomBalise>Tiers_adl2</NomBalise>
    <NomBalise>Tiers_adl3</NomBalise>
    <NomBalise>Tiers_adl4</NomBalise>
    <NomBalise>Tiers_adl5</NomBalise>
    <NomBalise>Tiers_adl6</NomBalise>
    <NomBalise>Tiers_adlcp</NomBalise>
    <NomBalise>Tiers_adl_lib</NomBalise>
    <NomBalise>Representant</NomBalise>
    <NomBalise>Agence_code</NomBalise>
    <NomBalise>Depot_code</NomBalise>
    <NomBalise>Bon_vendeur_int</NomBalise>
    <NomBalise>Bon_vendeur_code</NomBalise>
    <NomBalise>Bon_vendeur_lib</NomBalise>
    <NomBalise>Ent_datliv</NomBalise>
    <NomBalise>Date_val</NomBalise>
    <NomBalise>Colonne_art</NomBalise>
    <NomBalise>Colonne_des</NomBalise>
    <NomBalise>Colonne_un</NomBalise>
    <NomBalise>Colonne_qt</NomBalise>
    <NomBalise>Colonne_pb</NomBalise>
    <NomBalise>Colonne_rem</NomBalise>
    <NomBalise>Colonne_pn</NomBalise>
    <NomBalise>Colonne_mt</NomBalise>
    <NomBalise>Colonne_tva</NomBalise>
    <NomBalise>Bon_typvte</NomBalise>
    <NomBalise>Camion_code</NomBalise>
    <NomBalise>Commentaire_texte</NomBalise>
   </BaliseEntete>
  <BaliseBody>
    <NomBalise>Info_type</NomBalise>
    <NomBalise>Bon_numero</NomBalise>
    <NomBalise>Bon_date</NomBalise>
    <NomBalise>Bon_dateliv</NomBalise>
    <NomBalise>Bon_rcl</NomBalise>
    <NomBalise>Bon_datrcl</NomBalise>
    <NomBalise>Bon_devise</NomBalise>
    <NomBalise>Ligne_type</NomBalise>
    <NomBalise>Art_code</NomBalise>
    <NomBalise>Libelle</NomBalise>
    <NomBalise>Art_unite</NomBalise>
    <NomBalise>Art_qte</NomBalise>
    <NomBalise>Art_pubrut</NomBalise>
    <NomBalise>Art_remise1</NomBalise>
    <NomBalise>Art_remise2</NomBalise>
    <NomBalise>Art_monttc</NomBalise>
    <NomBalise>Art_prinet</NomBalise>
    <NomBalise>Art_monht</NomBalise>
    <NomBalise>Lib_rempl_mt</NomBalise>
    <NomBalise>Art_lot</NomBalise>
  </BaliseBody>
  <BaliseFoot>
    <NomBalise>Pied_type</NomBalise>
    <NomBalise>Pied_montant_ht</NomBalise>
    <NomBalise>Pied_montant_ttc</NomBalise>
    <NomBalise>Pied_netlib</NomBalise>
    <NomBalise>Pied_netmon</NomBalise>
    <NomBalise>Pied_net</NomBalise>
  </BaliseFoot>
</configuration>