<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <section name="Imprimante" type="MonNameSpace.ImprimanteSectionHandler, MonNameSpace"/>
   <BaliseEntete>
    <NomBalise>Document_numero</NomBalise> 
    <NomBalise>Document_numero_int</NomBalise>
    <NomBalise>Document_type</NomBalise>
    <NomBalise>Duplicata</NomBalise>
    <NomBalise>Document_date</NomBalise>
    <NomBalise>Adresse_interne_1</NomBalise>
    <NomBalise>Adresse_interne_2</NomBalise>
    <NomBalise>Adresse_interne_3</NomBalise>
    <NomBalise>Adresse_interne_4</NomBalise>
    <NomBalise>Tiers_tel</NomBalise>
    <NomBalise>Tiers_fax</NomBalise>
    <NomBalise>Tiers_adf1</NomBalise>
    <NomBalise>Tiers_adf2</NomBalise>
    <NomBalise>Tiers_adf3</NomBalise>
    <NomBalise>Tiers_adf4</NomBalise>
    <NomBalise>Tiers_adf5</NomBalise>
    <NomBalise>Tiers_adf6</NomBalise>
    <NomBalise>Tiers_adfcp</NomBalise>
    <NomBalise>Bon_typvte</NomBalise>
    <NomBalise>Tiers_nocpt</NomBalise>
    <NomBalise>Rel_datrel</NomBalise>
   </BaliseEntete>
  <BaliseBody>
    <NomBalise>Info_type</NomBalise>
    <NomBalise>Rel_nofac</NomBalise>
    <NomBalise>Rel_datfac</NomBalise>
    <NomBalise>Rel_libavofac</NomBalise>
    <NomBalise>Rel_mtva</NomBalise>
    <NomBalise>Rel_mttavo</NomBalise>
    <NomBalise>Rel_mtfac</NomBalise>
  </BaliseBody>
  <BaliseFoot>
    <NomBalise>Tot_datech</NomBalise>
    <NomBalise>Tot_ht</NomBalise>
    <NomBalise>Tot_tva</NomBalise>
    <NomBalise>Tot_ttcfac</NomBalise>
    <NomBalise>Tot_libtraite</NomBalise>
    <NomBalise>Tot_rel</NomBalise>
    <NomBalise>Tot_libreg</NomBalise>
    <NomBalise>Tra_tiers_adf1</NomBalise>
    <NomBalise>Tra_tiers_adf2</NomBalise>
    <NomBalise>Tra_tiers_adf3</NomBalise>
    <NomBalise>Tra_tiers_adf4</NomBalise>
    <NomBalise>Tra_tiers_adf5</NomBalise>
    <NomBalise>Tra_tiers_adf6</NomBalise>
    <NomBalise>Tra_tiers_adfcp</NomBalise>
    <NomBalise>Tra_adresse_interne_1</NomBalise>
    <NomBalise>Tra_adresse_interne_2</NomBalise>
    <NomBalise>Tra_adresse_interne_3</NomBalise>
    <NomBalise>Tra_adresse_interne_4</NomBalise>
    <NomBalise>Tra_libacc</NomBalise>
    <NomBalise>Tra_lcr</NomBalise>
    <NomBalise>Tra_lieucr</NomBalise>
    <NomBalise>Tra_lcr_seulement</NomBalise>
    <NomBalise>Tra_totrel</NomBalise>
    <NomBalise>Tra_datrel</NomBalise>
    <NomBalise>Tra_datech</NomBalise>
    <NomBalise>Tra_cocpt</NomBalise>
    <NomBalise>Tra_montae</NomBalise>
    <NomBalise>Tra_nofac</NomBalise>
    <NomBalise>Tra_domic1</NomBalise>
    <NomBalise>Tra_banque</NomBalise>
    <NomBalise>Tra_guichet</NomBalise>
    <NomBalise>Tra_cptco</NomBalise>
    <NomBalise>Tra_rib</NomBalise>
    <NomBalise>Tra_domic2</NomBalise>
    <NomBalise>Tra_nocli</NomBalise>
    <NomBalise>Tra_numrel</NomBalise>
    <NomBalise>Tra_siren</NomBalise>
  </BaliseFoot>
</configuration>