<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <section name="Imprimante" type="MonNameSpace.ImprimanteSectionHandler, MonNameSpace"/>
  <BaliseEntete>
    <NomBalise>Nombre_copies</NomBalise>
    <NomBalise>Objet</NomBalise>
    <NomBalise>Document_numero</NomBalise>
    <NomBalise>Document_type</NomBalise>
    <NomBalise>Duplicata</NomBalise>
    <NomBalise>Document_date</NomBalise>
    <NomBalise>Adresse_interne_1</NomBalise>
    <NomBalise>Adresse_interne_2</NomBalise>
    <NomBalise>Adresse_interne_3</NomBalise>
    <NomBalise>Adresse_interne_7</NomBalise>
    <NomBalise>Adresse_interne_8</NomBalise>
    <NomBalise>Client_code</NomBalise>
    <NomBalise>Tiers_adf1</NomBalise>
    <NomBalise>Tiers_adl1</NomBalise>
    <NomBalise>Tiers_adf2</NomBalise>
    <NomBalise>Tiers_adf3</NomBalise>
    <NomBalise>Tiers_adf4</NomBalise>
    <NomBalise>Tiers_adf5</NomBalise>
    <NomBalise>Tiers_adf6</NomBalise>
    <NomBalise>Tiers_adfcp</NomBalise>
    <NomBalise>Tiers_adl2</NomBalise>
    <NomBalise>Tiers_adl3</NomBalise>
    <NomBalise>Tiers_adl4</NomBalise>
    <NomBalise>Tiers_adl5</NomBalise>
    <NomBalise>Tiers_adl6</NomBalise>
    <NomBalise>Tiers_adlcp</NomBalise>
    <NomBalise>Bon_vendeur_lib</NomBalise>
    <NomBalise>Bon_vendeur_code</NomBalise>
    <NomBalise>Commentaire_texte</NomBalise>
    <NomBalise>Bon_typvte</NomBalise>
  </BaliseEntete>
  <BaliseBody>
    <NomBalise>Ligne_type</NomBalise>
    <NomBalise>Info_type</NomBalise>
    <NomBalise>Bon_numero</NomBalise>
    <NomBalise>Bon_date</NomBalise>
    <NomBalise>Bon_datliv</NomBalise>
    <NomBalise>Bon_rcl</NomBalise>
    <NomBalise>Bon_datliv</NomBalise>
    <NomBalise>Bon_datrcl</NomBalise>
    <NomBalise>Art_code</NomBalise>
    <NomBalise>Libelle</NomBalise>
    <NomBalise>Art_unite</NomBalise>
    <NomBalise>Art_qte</NomBalise>
    <NomBalise>Art_localisation</NomBalise>
    <NomBalise>Art_type_cde</NomBalise>
    <NomBalise>Art_reliquat</NomBalise>
    <NomBalise>Art_lot</NomBalise>
  </BaliseBody>
  <BaliseFoot>    
  </BaliseFoot>
</configuration>