<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <section name="Imprimante" type="MonNameSpace.ImprimanteSectionHandler, MonNameSpace"/>
  <Imprimante>
    <ImpEnfant>
      <Nom>IRAM02</Nom>
    </ImpEnfant>
    <ImpEnfant>
      <Nom>IRAM0201</Nom>
    </ImpEnfant>
    <ImpEnfant>
      <Nom>IRAM0202</Nom>
    </ImpEnfant>
    <ImpEnfant>
      <Nom>IRAM0203</Nom>
    </ImpEnfant>
    <ImpEnfant>
      <Nom>IRAM0204</Nom>
    </ImpEnfant>
    <ImpEnfant>
      <Nom>IRAM0205</Nom>
    </ImpEnfant>
  
  </Imprimante>
</configuration>