<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <section name="Imprimante" type="MonNameSpace.ImprimanteSectionHandler, MonNameSpace"/>
  <Document>
    CF
    <NomComplet>
      Commande Fournisseur
    </NomComplet>
  </Document>
  <Document>
    BL
    <NomComplet>
      Bon de livraison
    </NomComplet>
  </Document>
  <Document>
    AR
    <NomComplet>
      Accusé de réception
    </NomComplet>
  </Document>
  <Document>
    BP
    <NomComplet>
      Bon de préparation
    </NomComplet>
  </Document>
  <Document>
    DEV
    <NomComplet>
      Devis
    </NomComplet>
  </Document>
  <Document>
    FACTURE
    <NomComplet>
      Facturation
    </NomComplet>
  </Document>
</configuration>