<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <section name="Imprimante" type="MonNameSpace.ImprimanteSectionHandler, MonNameSpace"/><!--Ne pas modifier les trois première ligne, integration du fichier de conf à l'application-->
  <Profil>                          <!--Si besoin d'ajout de nouveau profil utilisateur, l'ajouter comme sui: <Profil>NOM PROFIL<Imprimante>VALEUR</Imprimante></Profil>-->
    MARYLENE
    <Imprimante>Imp203</Imprimante>
    <Imprimante>Imp206</Imprimante>
  </Profil>
  <Profil>
    SANDRA GILLE
    <Imprimante>Imp203</Imprimante>
    <Imprimante>Imp206</Imprimante>
  </Profil>
  <Profil>
    COUVERTURE
    <Imprimante>Imp203</Imprimante>
    <Imprimante>Imp206</Imprimante>
  </Profil>
  <Profil>
    bois panneau
    <Imprimante>Imp203</Imprimante>
    <Imprimante>Imp206</Imprimante>
  </Profil>
</configuration>