<?xml version="1.0" encoding="utf-8"?>
<Profils>
  <Profil nom="AD">
    <Code>AD</Code>
    <Imprimante>Imp204</Imprimante>
    <Imprimante>Imp204</Imprimante>
  </Profil>
  <Profil nom="AH">
    <Code>AH</Code>
    <Imprimante>Imp203</Imprimante>
  </Profil>
  <Profil nom="NL">
    <Code>NL</Code>
    <Imprimante>Imp203</Imprimante>
  </Profil>
  <Profil nom="KL">
    <Code>KL</Code>
    <Imprimante>Imp204</Imprimante>
  </Profil>
  <Profil nom="ND">
    <Code>ND</Code>
    <Imprimante>Imp202</Imprimante>
  </Profil>
  <Profil nom="AH">
    <Imprimante>Imp203</Imprimante>
    <Imprimante>Imp203</Imprimante>
  </Profil>
  <Profil nom="AL">
    <Code>AL</Code>
    <Imprimante>Imp202</Imprimante>
  </Profil>
  <Profil nom="CV">
    <Code>CV</Code>
    <Imprimante>Imp202</Imprimante>
  </Profil>
  <Profil nom="EL">
    <Code>EL</Code>
    <Imprimante>Imp202</Imprimante>
  </Profil>
  <Profil nom="FC">
    <Code>FC</Code>
    <Imprimante>Imp203</Imprimante>
    <Imprimante>Imp203</Imprimante>
  </Profil>
  <Profil nom="GC">
    <Code>GC</Code>
    <Imprimante>Imp203</Imprimante>
    <Imprimante>Imp203</Imprimante>
  </Profil>
  <Profil nom="GR">
    <Code>GR</Code>
    <Imprimante>Imp203</Imprimante>
    <Imprimante>Imp203</Imprimante>
  </Profil>
  <Profil nom="MA">
    <Code>MA</Code>
    <Imprimante>Imp203</Imprimante>
    <Imprimante>Imp203</Imprimante>
  </Profil>
  <Profil nom="MD">
    <Code>MD</Code>
    <Imprimante>Imp203</Imprimante>
    <Imprimante>Imp203</Imprimante>
  </Profil>
  <Profil nom="OW">
    <Code>OW</Code>
    <Imprimante>Imp211</Imprimante>
    <Imprimante>Imp211</Imprimante>
  </Profil>
  <Profil nom="BP">
    <Code>BP</Code>
    <Imprimante>Imp203</Imprimante>
    <Imprimante>Imp203</Imprimante>
  </Profil>
  <Profil nom="PV">
    <Code>PV</Code>
    <Imprimante>Imp211</Imprimante>
  </Profil>
  <Profil nom="SAN">
    <Code>SAN</Code>
    <Imprimante>Imp203</Imprimante>
    <Imprimante>Imp203</Imprimante>
  </Profil>
  <Profil nom="SEB">
    <Code>SEB</Code>
    <Imprimante>Imp203</Imprimante>
    <Imprimante>Imp203</Imprimante>
  </Profil>
  <Profil nom="SG">
    <Code>SG</Code>
    <Imprimante>Imp203</Imprimante>
    <Imprimante>Imp203</Imprimante>
  </Profil>
  <Profil nom="LP">
    <Code>LP</Code>
    <Imprimante>Imp203</Imprimante>
    <Imprimante>Imp203</Imprimante>
  </Profil>
</Profils>