<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <section name="Imprimante" type="MonNameSpace.ImprimanteSectionHandler, MonNameSpace"/><!--Ne pas modifier les trois première ligne, integration du fichier de conf à l'application-->
  <Profil>                         
    AD
    <Imprimante>Imp204</Imprimante>
  </Profil>
  <Profil>
    ND
    <Imprimante>Imp211</Imprimante>
    <Imprimante>Imp211</Imprimante>
  </Profil>
  <Profil>
    AH
    <Imprimante>Imp211</Imprimante>
    <Imprimante>Imp203</Imprimante>
  </Profil>
  <Profil>
    AL
    <Imprimante>Imp211</Imprimante>
    <Imprimante>Imp211</Imprimante>
  </Profil>
  <Profil>
    CV
    <Imprimante>Imp211</Imprimante>
    <Imprimante>Imp211</Imprimante>
  </Profil>
  <Profil>
    EL
    <Imprimante>Imp204</Imprimante>
  </Profil>
  <Profil>
    FC
    <Imprimante>Imp211</Imprimante>
    <Imprimante>Imp211</Imprimante>
  </Profil>
  <Profil>
    GC
    <Imprimante>Imp211</Imprimante>
    <Imprimante>Imp211</Imprimante>
  </Profil>
  <Profil>
    GR
    <Imprimante>Imp211</Imprimante>
    <Imprimante>Imp211</Imprimante>
  </Profil>
  <Profil>
    MA
    <Imprimante>Imp211</Imprimante>
    <Imprimante>Imp211</Imprimante>
  </Profil>
  <Profil>
    MD
    <Imprimante>Imp211</Imprimante>
    <Imprimante>Imp211</Imprimante>
  </Profil>
  <Profil>
    OPW
    <Imprimante>Imp211</Imprimante>
    <Imprimante>Imp211</Imprimante>
  </Profil>
  <Profil>
    PB
    <Imprimante>Imp211</Imprimante>
    <Imprimante>Imp211</Imprimante>
  </Profil>
  <Profil>
    PV
    <Imprimante>Imp211</Imprimante>
    <Imprimante>Imp211</Imprimante>
  </Profil>
  <Profil>
    SAN
    <Imprimante>Imp211</Imprimante>
    <Imprimante>Imp211</Imprimante>
  </Profil>
  <Profil>
    SEB
    <Imprimante>Imp211</Imprimante>
    <Imprimante>Imp211</Imprimante>
  </Profil>
  <Profil>
    SG
    <Imprimante>Imp211</Imprimante>
    <Imprimante>Imp211</Imprimante>
  </Profil>
  <Profil>
    LP
    <Imprimante>Imp211</Imprimante>
    <Imprimante>Imp211</Imprimante>
  </Profil>
</configuration>