<?xml version="1.0" encoding="utf-8" ?>
<Parametres>
  <P nom="Devis">
    <Code>Dimension1</Code>
    <Valeur>16</Valeur>
  </P>
  <P nom="Devis">
    <Code>Dimension2</Code>
    <Valeur>42</Valeur>
  </P>
  <P nom="Devis">
    <Code>Dimension3</Code>
    <Valeur>5</Valeur>
  </P>
  <P nom="Devis">
    <Code>Dimension4</Code>
    <Valeur>8</Valeur>
  </P>
  <P nom="Devis">
    <Code>Dimension5</Code>
    <Valeur>8</Valeur>
  </P>
  <P nom="Devis">
    <Code>Dimension6</Code>
    <Valeur>8</Valeur>
  </P>
  <P nom="Devis">
    <Code>Dimension7</Code>
    <Valeur>10</Valeur>
  </P>
  <P nom="Devis">
    <Code>Dimension8</Code>
    <Valeur>9</Valeur>
  </P>
  <P nom="Devis">
    <Code>Dimension9</Code>
    <Valeur>4</Valeur>
  </P>
<P nom="AR">
    <Code>Dimension1</Code>
    <Valeur>15</Valeur>
  </P>
  <P nom="AR">
    <Code>Dimension2</Code>
    <Valeur>42</Valeur>
  </P>
  <P nom="AR">
    <Code>Dimension3</Code>
    <Valeur>6</Valeur>
  </P>
  <P nom="AR">
    <Code>Dimension4</Code>
    <Valeur>9</Valeur>
  </P>
  <P nom="AR">
    <Code>Dimension5</Code>
    <Valeur>8</Valeur>
  </P>
  <P nom="AR">
    <Code>Dimension6</Code>
    <Valeur>9</Valeur>
  </P>
  <P nom="AR">
    <Code>Dimension7</Code>
    <Valeur>10</Valeur>
  </P>
  <P nom="AR">
    <Code>Dimension8</Code>
    <Valeur>11</Valeur>
  </P>
<P nom="BL">
    <Code>Dimension1</Code>
    <Valeur>16</Valeur>
  </P>
  <P nom="BL">
    <Code>Dimension2</Code>
    <Valeur>42</Valeur>
  </P>
  <P nom="BL">
    <Code>Dimension3</Code>
    <Valeur>6</Valeur>
  </P>
  <P nom="BL">
    <Code>Dimension4</Code>
    <Valeur>9</Valeur>
  </P>
  <P nom="BL">
    <Code>Dimension5</Code>
    <Valeur>8</Valeur>
  </P>
  <P nom="BL">
    <Code>Dimension6</Code>
    <Valeur>9</Valeur>
  </P>
  <P nom="BL">
    <Code>Dimension7</Code>
    <Valeur>10</Valeur>
  </P>
  <P nom="BL">
    <Code>Dimension8</Code>
    <Valeur>11</Valeur>
  </P>
<P nom="BP">
    <Code>Dimension1</Code>
    <Valeur>15</Valeur>
  </P>
  <P nom="BP">
    <Code>Dimension2</Code>
    <Valeur>44</Valeur>
  </P>
  <P nom="BP">
    <Code>Dimension3</Code>
    <Valeur>7</Valeur>
  </P>
  <P nom="BP">
    <Code>Dimension4</Code>
    <Valeur>9</Valeur>
  </P>
  <P nom="BP">
    <Code>Dimension5</Code>
    <Valeur>35</Valeur>
  </P>
<P nom="CF">
    <Code>Dimension1</Code>
    <Valeur>15</Valeur>
  </P>
  <P nom="CF">
    <Code>Dimension2</Code>
    <Valeur>42</Valeur>
  </P>
  <P nom="CF">
    <Code>Dimension3</Code>
    <Valeur>6</Valeur>
  </P>
  <P nom="CF">
    <Code>Dimension4</Code>
    <Valeur>9</Valeur>
  </P>
  <P nom="CF">
    <Code>Dimension5</Code>
    <Valeur>8</Valeur>
  </P>
  <P nom="CF">
    <Code>Dimension6</Code>
    <Valeur>9</Valeur>
  </P>
  <P nom="CF">
    <Code>Dimension7</Code>
    <Valeur>10</Valeur>
  </P>
  <P nom="CF">
    <Code>Dimension8</Code>
    <Valeur>11</Valeur>
  </P>
  <P nom="FACTURE">
    <Code>Dimension1</Code>
    <Valeur>15</Valeur>
  </P>
  <P nom="FACTURE">
    <Code>Dimension2</Code>
    <Valeur>42</Valeur>
  </P>
  <P nom="FACTURE">
    <Code>Dimension3</Code>
    <Valeur>6</Valeur>
  </P>
  <P nom="FACTURE">
    <Code>Dimension4</Code>
    <Valeur>9</Valeur>
  </P>
  <P nom="FACTURE">
    <Code>Dimension5</Code>
    <Valeur>8</Valeur>
  </P>
  <P nom="FACTURE">
    <Code>Dimension6</Code>
    <Valeur>9</Valeur>
  </P>
  <P nom="FACTURE">
    <Code>Dimension7</Code>
    <Valeur>10</Valeur>
  </P>
  <P nom="FACTURE">
    <Code>Dimension8</Code>
    <Valeur>11</Valeur>
  </P>
  <P nom="RELEVE">
      <Code>Dimension1</Code>
      <Valeur>12</Valeur>
    </P>
  <P nom="RELEVE">
      <Code>Dimension2</Code>
      <Valeur>12</Valeur>
    </P>
  <P nom="RELEVE">
      <Code>Dimension3</Code>
      <Valeur>12</Valeur>
    </P>
  <P nom="RELEVE">
      <Code>Dimension4</Code>
      <Valeur>40</Valeur>
    </P>
  <P nom="RELEVE">
      <Code>Dimension5</Code>
      <Valeur>17</Valeur>
    </P>
  <P nom="RELEVE">
      <Code>Dimension6</Code>
      <Valeur>17</Valeur>
    </P>
</Parametres>